{% extends 'base.html' %}

{% block content %}
<head>
    <title>
        {{post.PostTitle}}
    </title>
</head>

<div class="container bg-light text-center border rounded mt-2" style="background-image: url(../../media/{{post.PostImage}});">
    {% if post.PostImage %}
    <h1 class="display-4 text-white">{{post.PostTitle}}</h1>
    <h4 class="text-white">{{post.DatePosted}}</h4>
    <h4 class="text-white">by {{post.user}}</h4>
    <h4 class="p-4 text-white">{{post.PostDescription}}</h4>
    {% else %}
    <h1 class="display-4 text-danger">{{post.PostTitle}}</h1>
    <h4>by {{post.user}}</h4>
    <h4 class="p-4">{{post.PostDescription}}</h4>
    {% endif %}
    <a class="btn btn-warning btn-sm mb-2" href="{% url 'home' %}" >Back to Home</a>
</div>

{% endblock %}