{% extends 'base.html' %}

{% block content %}

<head>
    <title>
        {{user}} Profile
    </title>
</head>

<h1 class="mt-4 mb-4 text-center text-danger display-4">{{user}}'s Profile</h1>
<h1 class="text-center text-danger"> My Posts</h1>


{% if posts %}
<div class="container text-center mb-4">
    <ol start="1" class="text-danger p-2">
{% for post in posts %}
    <li class="container mb-4 bg-light" style="border-style:inset; border-color: blueviolet; border-width: 5px;" >
        <h1><a class="" href="{% url 'mypost' post.id %}">{{post.PostTitle}}</a></h1>
        {% if post.DatePosted %}
        <p class="text-muted">Status: posted on {{post.DatePosted}}</p>
        {% else %}
        <p class="text-muted">Status:  not posted</p>
        {% endif %}
    </li>
{% endfor %}
    </ol>

{% else %}

<h1 class="text-center mt-4">No Posts yet!<a href="{% url 'post' %}"> make a post?</h1>

{% endif %}

</div>

{% endblock %}